<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fourfire.blog.mapper.ArticleInfoPOMapper" >
  <resultMap id="BaseResultMap" type="com.fourfire.blog.po.ArticleInfoPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="read_count" property="readCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="create_gmt_date" property="createGmtDate" jdbcType="TIMESTAMP" />
    <result column="modify_gmt_date" property="modifyGmtDate" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="LONGVARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_id, title, author, read_count, comment_count, ip, create_gmt_date, modify_gmt_date, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM blog_article_info
    <where>
    	1=1 
    	<if test="id != null and id > 0">
    		AND id = #{id, jdbcType=BIGINT}
    	</if>
    </where>
  </select>
  
  <select id="getUpOrDownArticleInfo" resultMap="BaseResultMap">
  	SELECT 
  	<include refid="Base_Column_List"/>
  	FROM blog_article_info 
  	<where>
  		1=1 
  		<if test="typeId > 0">
  			AND type_id = #{typeId, jdbcType=INTEGER}
  		</if>
  		<if test="id > 0">
  			AND id <![CDATA[ > ]]> #{id,jdbcType=BIGINT} 
  		</if>
  	</where>	
  	ORDER BY id 
  	<if test="!#{isUp}">
  		DESC
  	</if>
  	LIMIT 1
  </select>
  
  <select id="pageQuery" resultMap="BaseResultMap" parameterType="com.fourfire.blog.query.ArticlePageQuery">
  	SELECT 
  	<include refid="Base_Column_List"/> 
  	FROM blog_article_info 
  	<where>
  		1=1 
  		<if test="typeId != null and typeId > 0">
  			AND type_id = #{typeId, jdbcType=INTEGER} 
  		</if>
  		<if test="orderByColumn != null and orderByColumn != ''">
  			ORDER BY ${orderByColumn} 
  		</if>
  		<if test="pageNo > 0 and pageSize > 0">
  			LIMIT #{startRow}, #{pageSize}
  		</if>
  	</where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="long" >
    delete from blog_article_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fourfire.blog.po.ArticleInfoPO" useGeneratedKeys="true" keyProperty="id" >
    insert into blog_article_info (type_id, title, author, 
      read_count, comment_count, ip, 
      create_gmt_date, modify_gmt_date, content
      )
    values (#{typeId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{readCount,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, 
      #{createGmtDate,jdbcType=TIMESTAMP}, #{modifyGmtDate,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.fourfire.blog.po.ArticleInfoPO">
  	UPDATE blog_article_info 
  	SET 
  		type_id = #{typeId, jdbcType=INTEGER}, 
  		title = #{title, jdbcType=VARCHAR}, 
  		author = #{author, jdbcType=VARCHAR}, 
  		read_count = #{readCount, jdbcType=INTEGER}, 
  		comment_count = #{commentCount, jdbcType=INTEGER}, 
  		ip = #{ip, jdbcType=VARCHAR}, 
  		create_gmt_date = #{createGmtDate, jdbcType=TIMESTAMP}, 
  		modify_gmt_date = #{modifyGmtDate, jdbcType=TIMESTAMP}, 
  		content = #{content, jdbcType=LONGVARCHAR} 
  	WHERE 
  		id = #{id, jdbcType=BIGINT}
  </update>
  
  <update id="addReadCountById" parameterType="long">
  	UPDATE blog_article_info 
  	SET 
  		read_count = read_count + 1
  	WHERE 
  		id = #{id, jdbcType=BIGINT}
  </update>
  
  <insert id="insertSelective" parameterType="com.fourfire.blog.po.ArticleInfoPO" useGeneratedKeys="true" keyProperty="id" >
    insert into blog_article_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      type_id,
      <if test="title != null" >
        title,
      </if>
      <if test="author != null" >
        author,
      </if>
      read_count,
      comment_count,
      <if test="ip != null" >
        ip,
      </if>
      <if test="createGmtDate != null" >
        create_gmt_date,
      </if>
      <if test="modifyGmtDate != null" >
        modify_gmt_date,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{typeId,jdbcType=INTEGER},
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      #{readCount,jdbcType=INTEGER},
      #{commentCount,jdbcType=INTEGER},
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createGmtDate != null" >
        #{createGmtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyGmtDate != null" >
        #{modifyGmtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>