<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fourfire.blog.mapper.TypeInfoPOMapper" >
  <resultMap id="BaseResultMap" type="com.fourfire.blog.po.TypeInfoPO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, description, icon_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int" >
    select 
    <include refid="Base_Column_List" />
    from blog_type_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="int" >
    delete from blog_type_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fourfire.blog.po.TypeInfoPO" useGeneratedKeys="true" keyProperty="id" >
    insert into blog_type_info (name, description, icon_url
      )
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{iconUrl,jdbcType=VARCHAR}
      )
  </insert>
	
	<select id="pageQuery" resultMap="BaseResultMap" parameterType="com.fourfire.blog.page.BasePageQuery">
  	SELECT 
  	<include refid="Base_Column_List"/> 
  	FROM blog_type_info 
  	<where>
  		1=1 
  		<if test="pageNo > 0 and pageSize > 0">
  			LIMIT #{startRow}, #{pageSize}
  		</if>
  	</where>
  </select>
</mapper>